<div class="grid-layout full-height">
    <div class="grid x-1 y-1 end bg-lightblue">

    </div>
    <div class="grid x-1 y-3 center bg-lightcoral">
        <div class="grid-layout full-height">
            <div class="grid x-1 y-1 end bg-darkblue">

            </div>
            <div class="grid x-1 y-3 center bg-darkcyan">

            </div>
            <div class="grid x-1 y-1 bg-darkblue">

            </div>
            <div class="grid x-1 y-3 end bg-darkcyan">

            </div>
        </div>
    </div>
    <div class="grid x-1 y-1 bg-lightblue">

    </div>
    <div class="grid x-1 y-3 end bg-lightcoral">

    </div>
</div>
